.app-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
    background-color: var(--blurry-bg-color);
    color: var(--text-color);
    backdrop-filter: blur(15px);
    border: 1px solid #ffffff51;
    border-radius: 100px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* copyright */
.app-footer p {
    font-size: 0.9rem;
    opacity: 0.8;
}


/* social */
.socials {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.infosContact .infosTel {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    transition: color 0.3s ease;
}

.xBtn,
.lineBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 15px;
    height: 30px;
    border-radius: 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: #000;
}
.lineBtn {
    background: #05c755;
}

.xBtn img,
.lineBtn img {
    height: 18px;
    margin-right: 10px;
}
.xBtn img {
    height: 14px;
    filter: invert(1);
}
