.website-container {
  background-color: var(--bg-color);
  position: relative;
  width: 100%;
  /* max-width: 1920px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  height: fit-content;
  min-height: 100vh;
  transition: all 0.3s ease;
}
